.ui-select-container:first-child {

}
input {
  background: red;
}
.mtf-list {
    background-color : green;
    margin: 0;
}
.selector-container{
    display: flex;
    border: 1px solid red;
    background-color: red;
}
*{
    list-style-type: none;
}